html,
body {
  font-family: sans-serif;
  text-align: center;
  line-height: 1.6;
}

* {
  margin: 0;
  padding: 0;
}

#welcome-section {
  top: 0;
  background: linear-gradient(45deg, blue, cyan);
  min-height: 55vh;
  padding-top: 45vh;
  color: white;
}

#welcome-section p {
  color: yellow;
}

#navbar {
  text-align: right;
  position: fixed;
  background-color: white;
  width: 100%;
  box-shadow: 0 0 100px rgba(0,0,0,.4);
/*   border-radius: 30px; */
/*   top: 10px;
  right: 10px;
  left: 10px; */
}

#navbar li {
  display: inline-block;
  margin: 55px;
  margin-bottom: 15px;
  margin-top: 25px;
}

#navbar li a {
  color: navy;
  text-decoration: none;
}

#navbar li a:hover {
  color: orange;
}

#projects {
  padding-top: 60px;
  margin-top: -60px;
}

h2 {
  margin-top: 50px;
  color: navy;
  font-weight: normal;
}

.project-tile {
  text-decoration: none;
  color: #008080;
  display: inline-block;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0,0,0,0.4);
  width: 280px;
  margin: 40px 100px;
}

.project-tile img {
  max-width: 100%;
}

.project-tile a {
  color: navy;
  font-weight: normal;
  text-decoration: none;
}

.show-all {
  text-decoration: none;
  display: block;
  width: 200px;
  height: 30px;
  margin: 20px auto 90px;
  color: orange;
  font-weight: bold;
  font-size: 1em;
  border: 2px solid orange;
  border-radius: 4px;
  cursor: pointer;
  padding-top:10px;
}


.show-all:hover {
  background: orange;
  color: white;
}

@media only screen and (max-width: 500px) {
  #navbar {
    text-align: center;
  }
  #navbar li {
    margin: 20px;
  }
  .project-tile {
    margin: 40px 0;
  }
}

#contact {
  background: navy;
  padding-bottom: 160px;
}

#contact h2 {
  color: white;
  padding: 160px 0 110px;
}

.profile-link {
  display: inline-block;
  font-weight: bold;
  margin: 0 35px 45px 35px;
  border: 2px solid orange;
  border-radius: 100%;
  width: 100px;
  height: 100px;
  line-height: 100px;
  color: orange;
  text-decoration: none;
}

@media only screen and (max-width: 367px) {
  .profile-link {
    border: 2px solid orange;
    border-radius: 0;
    width: 90px;
    height: 20px;
    padding: 10px;
    line-height: normal;
  }
}